* {
  margin: 0;
  padding: 0; }

/*ESTILOS GENERALES*/
body {
  background: black; }

.cabeza {
  background-color: #409be0;
  width: 100%;
  height: 100px;
  font-family: "Saira Stencil One", cursive;
  display: grid;
  grid-template-areas: "logo titulo titulo" "men men men"; }
  .cabeza .logo {
    display: flex;
    align-content: center;
    justify-content: center;
    width: min-content;
    grid-area: logo; }
    .cabeza .logo .logo__img {
      position: relative;
      left: 8px; }
  .cabeza .cabeza__h1 {
    grid-area: titulo;
    color: black;
    text-align: center;
    font-size: 24px;
    justify-content: space-between; }
    .cabeza .cabeza__h1::before {
      content: "Cooperativa";
      font-size: 20px;
      margin-right: 10px; }
    .cabeza .cabeza__h1::after {
      content: "Mercenary";
      font-size: 20px;
      margin-left: 10px; }
  .cabeza .menu {
    grid-area: men; }
    .cabeza .menu ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly; }
      .cabeza .menu ul li {
        display: inline;
        transform: translateY(-20px); }
        .cabeza .menu ul li a {
          color: black;
          padding: 12px;
          display: inline-block;
          border: 3px solid transparent;
          position: relative;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 14px;
          cursor: pointer; }
          .cabeza .menu ul li a .text {
            font-family: proxima-nova, monospace;
            transform: translate3d(0, 12px, 0);
            display: block;
            transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s; }
          .cabeza .menu ul li a:after {
            position: absolute;
            content: '';
            bottom: -3px;
            left: 0, 8.4em;
            right: 0, 8.4em;
            height: 3px;
            background: fuchsia;
            transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
            transform-origin: left; }
        .cabeza .menu ul li .line {
          position: absolute;
          background: fuchsia; }
          .cabeza .menu ul li .line.-right, .cabeza .menu ul li .line.-left {
            width: 3px;
            bottom: -3px;
            top: -3px;
            transform: scale3d(1, 0, 1); }
          .cabeza .menu ul li .line.-top, .cabeza .menu ul li .line.-bottom {
            height: 3px;
            left: -3px;
            right: -3px;
            transform: scale3d(0, 1, 1); }
          .cabeza .menu ul li .line.-right {
            right: -3px;
            transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
            transform-origin: top; }
          .cabeza .menu ul li .line.-top {
            top: -3px;
            transition: transform 0.08s linear 0.43s;
            transform-origin: left; }
          .cabeza .menu ul li .line.-left {
            left: -3px;
            transition: transform 0.08s linear 0.51s;
            transform-origin: bottom; }
          .cabeza .menu ul li .line.-bottom {
            bottom: -3px;
            transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
            transform-origin: right; }
        .cabeza .menu ul li a:hover .text,
        .cabeza .menu ul li a:active .text {
          transform: translate3d(0, 0, 0);
          transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s; }
        .cabeza .menu ul li a:hover:after,
        .cabeza .menu ul li a:active:after {
          transform: scale3d(0, 1, 1);
          right: -3px;
          left: -3px;
          transform-origin: right;
          transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s; }
        .cabeza .menu ul li a:hover .line,
        .cabeza .menu ul li a:active .line {
          transform: scale3d(1, 1, 1); }
          .cabeza .menu ul li a:hover .line.-right,
          .cabeza .menu ul li a:active .line.-right {
            transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
            transform-origin: bottom; }
          .cabeza .menu ul li a:hover .line.-top,
          .cabeza .menu ul li a:active .line.-top {
            transition: transform 0.08s linear 0.4s;
            transform-origin: right; }
          .cabeza .menu ul li a:hover .line.-left,
          .cabeza .menu ul li a:active .line.-left {
            transition: transform 0.08s linear 0.48s;
            transform-origin: top; }
          .cabeza .menu ul li a:hover .line.-bottom,
          .cabeza .menu ul li a:active .line.-bottom {
            transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
            transform-origin: left; }

.pie {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-areas: "logof datos menuf" "redes datos menuf" "texto texto texto";
  grid-template-columns: 1fr 2fr 2fr;
  background-color: #409be0; }
  .pie .logoFooter {
    grid-area: logof;
    margin-top: 30px;
    transform: translateX(10px); }
  .pie address {
    grid-area: datos;
    display: block;
    font-family: proxima-nova, monospace;
    font-size: 12px;
    margin-top: 30px; }
  .pie .menuFooter {
    margin-top: 30px;
    grid-area: menuf;
    display: flex;
    flex-direction: column;
    transform: translateX(20%);
    font-family: proxima-nova, monospace;
    text-transform: uppercase; }
    .pie .menuFooter a {
      text-decoration: none;
      width: min-content; }
      .pie .menuFooter a:hover {
        border: fuchsia solid 3px;
        color: fuchsia; }
  .pie .pie__texto {
    grid-area: texto;
    font-family: proxima-nova, monospace;
    font-size: 12px; }

/*ESTILOS INDEX*/
.intro {
  background-color: #409be0;
  width: 100%;
  height: 445px; }
  .intro::before {
    content: "";
    position: absolute;
    background-color: fuchsia;
    width: 100%;
    height: 55%;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 50%); }
  .intro::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 40%;
    clip-path: polygon(0 100%, 100% 0, 100% 75%, 50% 100%); }
  .intro h2 {
    position: absolute; }
    .intro h2 .h2_1 {
      width: 75%;
      display: inline-block;
      font-family: "Saira Stencil One", cursive;
      font-size: 42px;
      transform: translateX(50px) translateY(25px);
      text-transform: uppercase; }
  .intro h3 {
    position: absolute;
    left: 25px;
    bottom: 140px;
    width: 35%;
    width: inherit;
    color: white;
    font-family: proxima-nova, monospace;
    font-size: 30px;
    text-transform: uppercase;
    transform: rotate(336deg); }
