body {
  background-color: skyblue; }

.cabeza {
  background: navajowhite;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 2em 2em 10em;
  clip-path: polygon(0 0, 300% -350%, 80% 75%, 0 30%);
  display: grid;
  grid-template-areas: "logo titulo titulo" "menu menu menu"; }
  .cabeza .logo {
    width: min-content;
    grid-area: logo; }
    .cabeza .logo .logo__img {
      width: min-content; }
  .cabeza .cabeza__h1 {
    grid-area: titulo; }
  .cabeza .menu {
    grid-area: menu;
    display: flex;
    flex-direction: row; }
    .cabeza .menu ul {
      list-style: none;
      font-size: 20px;
      margin: 5px;
      text-align: center;
      display: inline; }
      .cabeza .menu ulli {
        font-size: 14px;
        margin-left: 10px; }

.ventana {
  background-color: palevioletred;
  color: peachpuff;
  width: 500px;
  height: auto;
  display: none;
  position: sticky;
  left: 35%;
  top: 35%; }
  .ventana .cerrar {
    position: absolute;
    right: 3px;
    top: 2px; }
