* {
  margin: 0;
  padding: 0; }

@keyframes tilin {
  50% {
    background-color: yellow; }
  100% {
    background-color: orange; } }

@keyframes delivery {
  34% {
    background-color: orange; }
  33% {
    background-color: yellow; }
  33% {
    background-color: orange; } }

body {
  background-color: black;
  font-family: "Saira Stencil One", cursive; }

/* header*/
.cabeza {
  height: 150px;
  background-image: radial-gradient(darkgreen, black);
  border-bottom: solid 3px orangered; }

.cabeza__titulo {
  text-align: center;
  color: yellow;
  margin: 0%; }

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: orangered;
  height: 30px;
  transform: translateY(10px); }
  .menu .menu__items {
    display: inline;
    border-right: 1px solid #bbb;
    height: 16px; }
  .menu .menu__items--end {
    border-right: none;
    margin-right: none;
    float: right; }
  .menu .menu__enlace {
    color: white;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    text-decoration: none; }
  .menu .menu__enlace:hover {
    color: yellowgreen; }

/* musica*/
.musica {
  max-width: 500px; }
  .musica .musica__audio {
    width: 90%; }
  .musica .musica__texto {
    color: orangered; }

/*main*/
.intro .intro__titulo {
  color: darkgreen;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px; }

.intro .intro__texto {
  color: white; }

.novedades {
  display: flex; }
  .novedades .novedades__contenedor {
    max-width: 300px;
    width: 90%;
    margin: 0 auto; }
    .novedades .novedades__contenedor .card {
      background: whitesmoke;
      border-radius: 15px;
      box-shadow: 0 4px 8px 0 yellowgreen;
      transition: 0,3s;
      padding: 20px;
      display: block;
      align-items: center;
      position: relative;
      margin-bottom: 50px; }
      .novedades .novedades__contenedor .card .card__img {
        width: 100%;
        padding: 4px; }
    .novedades .novedades__contenedor .card:hover {
      box-shadow: 0 8px 16px 0 yellowgreen; }
    .novedades .novedades__contenedor .info {
      border: solid 2px black;
      padding: 5px; }
      .novedades .novedades__contenedor .info .info__nombre {
        color: darkgreen;
        text-transform: capitalize;
        text-decoration: underline; }
    .novedades .novedades__contenedor .boton {
      border: none;
      border-radius: 15px;
      min-width: 100px;
      height: 20px;
      padding: 0 5px;
      background: yellowgreen;
      color: orangered;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s ease all;
      transform: translateX(30%) translateY(-10%); }
      .novedades .novedades__contenedor .boton .boton__texto {
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif; }
    .novedades .novedades__contenedor .boton:hover {
      background: chartreuse;
      text-decoration: none; }

.contenido {
  padding: 30px;
  margin: 20px; }
  .contenido .secciones {
    background-color: grey;
    color: darkgreen; }
    .contenido .secciones .secciones__intro {
      margin-bottom: 30px; }
      .contenido .secciones .secciones__intro .secciones__titulo {
        color: darkgreen;
        text-decoration: underline;
        text-align: center; }
      .contenido .secciones .secciones__intro .secciones__texto {
        color: white; }
  .contenido .lista {
    margin-top: 30px; }
    .contenido .lista .lista__seccion {
      border: solid darkgreen 3px;
      margin-bottom: 20px; }
      .contenido .lista .lista__seccion .lista__tema {
        list-style: none; }
        .contenido .lista .lista__seccion .lista__tema .lista__titulo {
          color: orange;
          text-align: center;
          text-decoration: underline; }
        .contenido .lista .lista__seccion .lista__tema .lista__enlace {
          text-decoration: none;
          color: darkgreen; }
        .contenido .lista .lista__seccion .lista__tema .lista__enlace:hover {
          color: yellowgreen; }
        .contenido .lista .lista__seccion .lista__tema .lista__enlace--destacado {
          color: yellow; }
        .contenido .lista .lista__seccion .lista__tema .lista__texto {
          justify-content: center; }

.lateral {
  border: solid darkgreen 3px;
  width: min-content;
  margin-left: 40px; }
  .lateral .lateral__videos {
    border: solid darkgreen 3px; }
    .lateral .lateral__videos .lateral__videos--modif {
      border: solid darkgreen 3px;
      padding: 3px; }
  .lateral .lateral__anuncios {
    display: grid;
    justify-items: center;
    border: solid darkgreen 3px;
    background-color: yellowgreen;
    animation-name: tilin;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: 0; }

.pie {
  background-image: linear-gradient(black, darkgreen);
  height: 70px;
  margin-top: 30px; }
  .pie .pie__texto {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif; }
  .pie .pie__enlace {
    text-decoration: none; }

/*exclusivo ups.html*/
.ups__titulo {
  color: orangered;
  margin-bottom: 50px;
  transform: translateY(50px);
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase; }

.ups__texto {
  display: block;
  font-size: 3em;
  color: yellow;
  text-transform: capitalize; }

/*exclusivo servicios.html*/
.bienvenidos {
  color: white;
  text-transform: uppercase;
  margin: 50px;
  padding: 50px; }

.oferta .oferta__titulo {
  color: darkgreen;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase; }

.product {
  box-shadow: 0 4px 8px 0 yellowgreen;
  max-width: 300px;
  margin: 40px;
  border-radius: 15px;
  text-align: center;
  background-color: red; }
  .product .product__nombre {
    color: darkgreen;
    text-decoration: underline; }
  .product .product__img {
    padding: 20px;
    transition: all; }
  .product .product__img:hover {
    transform: scale(1, 3); }
  .product .product__precio {
    color: yellow;
    font-size: 22px;
    text-decoration: underline; }
  .product .product__text {
    padding: 10px;
    color: white; }
  .product .product__boton {
    border: none;
    border-radius: 20px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: yellowgreen;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px; }
  .product .product__boton:hover {
    opacity: 0.7; }

.product:hover {
  box-shadow: 0 8px 16px 0 yellowgreen; }

.product--delivery {
  animation-name: delivery;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-delay: 0; }

/*exclusivo usuarios.html*/
.fondoUsuario {
  background-color: gray; }

.sesion {
  color: darkgreen;
  margin-right: 20px; }
  .sesion .sesion__titulo {
    padding: 24px; }
  .sesion fieldset {
    border: solid darkgreen 3px;
    display: grid;
    justify-content: center;
    padding: 16px;
    background-image: linear-gradient(45deg, orange, green); }
    .sesion fieldset input {
      margin-bottom: 20px;
      width: 80%; }
    .sesion fieldset .signUps {
      background-color: orange;
      box-shadow: 0 0 8px 0 yellowgreen; }
    .sesion fieldset a {
      text-align: end;
      text-decoration: none;
      color: lightgreen; }
    .sesion fieldset a:hover {
      color: springgreen; }

.registro {
  border: solid darkgreen 3px;
  background-image: linear-gradient(45deg, orange, green); }
  .registro .registro__titulo {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 24px; }
  .registro legend {
    text-align: center;
    text-decoration: underline; }
  .registro input {
    margin-bottom: 20px; }
  .registro fieldset {
    margin-bottom: 20px;
    color: darkgreen; }
    .registro fieldset fieldset {
      border: solid darkgreen 3px; }
  .registro .botonRegistro {
    background-color: darkorange;
    box-shadow: 0 0 8px 0 yellowgreen; }
