*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//variables
$color0: #0a4407;
$color1:#ccd60e;
$color2: white;
$texto:proxima-nova, monospace;
$texto2:"Saira Stencil One", cursive;
$borde: solid 3px $color0;
$borde2: solid 3px $color1;


/*ESTILOS GENERALES*/
body{
    background: $color0;
    max-width: 100%;
    height: 100vh;
    margin: 0;
}
//HEADER
.cabeza{
    background-color: $color1;
    max-width: 100%;
    height: 100px;
    font-family: "Saira Stencil One", cursive;
    display: grid;
    grid-template-areas:
    "logo titulo titulo"
    "men men men"
    ;
    //LOGO
    .logo{
        width: min-content;
        .logo__img{
            grid-area: logo;
            position: relative;
            left: 8px;
        }
    }
    //H1
    .cabeza__h1{
        grid-area: titulo;
        color: $color0;
        text-align: center;
        font-size: 24px;
        justify-content: space-between;
        &::before{
            content:"Cooperativa";
            font-size: 20px;
            margin-right: 10px;
        }
        &::after{
            content:"Mercenary";
            font-size: 20px;
            margin-left: 10px;
        }
    }
    //MENU
    .menu{
        max-width: 100%;
        grid-area: men;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            li{
                display: inline;
                transform: translateY(-20px);
                a {
                    color: $color0;
                    padding: 12px;
                    display: inline-block;
                    border: 3px solid transparent;
                    position: relative;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 14px;
                    cursor: pointer;
                    .text {
                      font-family: $texto;
                      transform: translate3d(0,12px,0);
                      display: block;
                      transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
                    }
                    &:after {
                      position: absolute;
                      content: '';
                      bottom: -3px;
                      left: 0,7em * 1.2;
                      right: 0,7em * 1.2;
                      height: 3px;
                      background: $color2;
                      transition:transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
                        right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
                        left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
                      transform-origin: left;
                    }
                }
                    .line {
                        position: absolute;
                        background: $color2;
                        &.-right,
                        &.-left {
                        width: 3px;
                        bottom: -3px;
                        top: -3px;
                        transform: scale3d(1,0,1);
                    }
                    &.-top,
                    &.-bottom {
                      height: 3px;
                      left: -3px;
                      right: -3px;
                      transform: scale3d(0,1,1);
                    }
                    &.-right {
                      right: -3px;
                      transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
                      transform-origin: top;
                    }
                    &.-top {
                      top: -3px;
                      transition: transform 0.08s linear 0.43s;
                      transform-origin: left;
                    }
                    &.-left {
                      left: -3px;
                      transition: transform 0.08s linear 0.51s;
                      transform-origin: bottom;
                    }
                    &.-bottom {
                      bottom: -3px;
                      transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
                      transform-origin: right;
                    }
                  }
                    a:hover,
                    a:active {

                    .text {
                        transform: translate3d(0,0,0);
                        transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
                    }
                    &:after {
                        transform: scale3d(0,1,1);
                        right: -3px;
                        left: -3px;
                        transform-origin: right;
                        transition:transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
                        right 0.2s cubic-bezier(1,0,.65,1.01),
                        left 0s 0.3s;
                    }
                    .line {
                        transform: scale3d(1,1,1);
                        &.-right {
                            transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
                            transform-origin: bottom;
                        }
                        &.-top {
                            transition: transform 0.08s linear 0.4s;
                            transform-origin: right;
                        }
                        &.-left {
                            transition: transform 0.08s linear 0.48s;
                            transform-origin: top;
                        }
                        &.-bottom {
                            transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
                            transform-origin: left;
                        }
                    }
                }
            }
        }
    }
}
//FOOTER
.pie{
    max-width: 100%;
    height: 150px;
    display: grid;
    grid-template-areas:
    "logof datos menuf"
    "logof datos menuf"
    "texto texto texto"
    ;
    grid-template-columns: 1fr 2fr 2fr;
    background-color: $color1;

    .logoFooter{
        grid-area: logof;
        margin-top: 30px;
        transform: translateX(10px);
    }
    address{
        grid-area: datos;
        display: block;
        font-family: $texto;
        font-size: 12px;
        margin-top: 30px;
    }
    .menuFooter{
        margin-top: 30px;
        grid-area: menuf;
        display: flex;
        flex-direction: column;
        transform: translateX(20%);
        font-family: $texto;
        text-transform: uppercase;
        width: min-content;
        a{
            text-decoration: none;
            width: min-content;
            &:hover{
                border: $borde2;
                color: $color2;
            }
        }
    }
    .pie__texto{
        grid-area: texto;
        font-family: $texto;
        font-size: 12px;
        text-align: center;
    }
}
/*ESTILOS INDEX*/
//imagen de presentacion
.intro{
    max-width: 100%;
    height: 75vh;
    background: url(../img/fondo.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
        .intro__h2{
            width: fit-content;
            font-size: 1.7rem;
            font-family: $texto2;
            color: $color2;
            text-align: center
        }
        .intro__h3{
            @extend.intro__h2;
            color: $color1;
            margin-left: 20px;
        }
}
//texto introductorio
.introTexto{
    max-width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: $color0;
    justify-content: center;
    align-items: center;
    &::before{
        content:"";
        background-color:$color1;
        width: 100%;
        height: 100px;
        position: relative;
        top: 0;
        clip-path: polygon(0 0,100% 0, 100% 0,0 100%);
    }
    &::after{
        content:"";
        background-color: $color1;
        width: 100%;
        height: 100px;
        position: relative;
        bottom: 0px;
        clip-path: polygon(0 100%,100% 0,100% 100%,0 100%);
    }
    p{
        font-family: $texto;
        font-size: 1.2rem;
        align-content: center;
        color: $color2;
        padding: 20px;
        span{
            text-transform: uppercase;
        }
    }
}
//enlace presupuesto
.muestra{
    background-color: $color1;
    max-width: 100%;
    height: 600px;
    margin-bottom: -1px;
    display: flex;
    flex-direction: column;
    .muestra__caja{
        width: 90%;
        height: 500px;
        margin-top: 75px;
        margin-left: 30px;
        padding: 20px;
        border: $borde;
        display: flex;
        flex-direction: column;
        .muestra__img{
            width: 100%;
        }
        .muestra__info{
            h2{
                font-family: $texto2;
                font-size: 24px;
                width: 90%;
                color: $color0;
                text-align: center;
                border-bottom: $borde;
                margin-top: 20px;
            }
            p{
                font-size: 20px;
                font-family: $texto;
                color: $color0;
                text-align:center;
                margin-top: 30px;
                width: 90;
            }
        }
        .muestra__enlace{
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            font-family: $texto2;
            color: $color1;
            background-color: $color0;
            border-radius: 20px;
        }
    }
}
//introdducion enlace preoductos y servicios
.intro--b{
    background-color: $color1;
    max-width: 100%;
    height: 300px;
    clip-path: polygon(0 0,100% 0,100% 25%,0 100%);
    .b--h2{
        font-family: $texto2;
        font-size: 30px;
        color: $color0;
        padding: 30px;
       
    }
}
//enlace productos y servicios
.venta{
    background-color: $color0;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    .servicios, .productos{
        width: 85%;
        height: auto;
        margin-bottom: 40px;
        margin-left: 25px;
        border: $borde2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        img{
            width: 100%;

        }
        h2{
            color: $color1;
            font-family: $texto2;
            text-align: center;
            position: absolute;
            transform: translateY(50px);
            margin-left: 20px;
        }
    }
}
//introduccion enlace especialistas
.intro--c{
    background-color: $color0;
    max-width: 100%;
    height: 250px;
    &::before{
        content: "";
        width: 100%;
        height: 250px;
        position: absolute;
        background-color: $color1;
        clip-path: polygon(0 100%,100% 0,100% 100%, 0 100%);
    }
    .c--h2{
        font-family: $texto2;
        font-size: 30px;
        color: $color1;
        padding: 20px;
        width: 80%;
    }
}
//enlace especialista
.especialistas{
    max-width: 100%;
    height: 800px;
    background-color: $color1;
    .especialistas__card{
        width: 90%;
        height: 700px;
        border: $borde;
        border-radius: 20px;
        margin-left: 20px;
        .especialistas__img{
            width: 90%;
            margin-top: 20px;
            margin-left: 20px;
            border-radius: 20px;
            border: $borde;
        }
        .especialistas__info{
            width: 90%;
            padding: 5px;
            border: $borde;
            border-radius: 20px;
            margin-left: 20px;
            .especialistas__h2{
                font-family: $texto2;
                color: $color0;
                text-transform: uppercase;
                text-align: center;
            }
            .especialistas__texto{
                font-family: $texto;
                color: $color0;
                text-align: center;
            }
            .especialistas__boton{
                width: min-content;
                background-color: $color0;
                border-radius: 25px;
                margin-left: 20px;
                a{
                    padding: 10px;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: $texto2;
                    color: $color1;
                }
            }
        }
    }
}
//introduccion experiencia clientes
.intro--d{
    max-width: 100%;
    background-color: $color1;
    height: 400px;
    &::after{
        content: "";
        width: 100%;
        height: 200px;
        background-color: $color0;
        position: absolute;
        transform: translateY(-57px);
        clip-path: polygon(0 100%,100% 0,100% 100%,0 100%);
    }
    .d--h2{
        font-family: $texto2;
        font-size: 32px;
        color: $color0;
        padding: 10px;
        width: 90%;
    }
}
//clientes
.cliente{
    max-width: 100%;
    background-color: $color0;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cliente__card{
        width: 90%;
        height: 180px;
        display: flex;
        flex-direction: row;
        background-color: whitesmoke;
        border: $borde2;
        border-radius: 20px;
        margin-bottom: 30px;
        .cliente__img{
            border-radius: 50%;
            border: $borde;
            padding: 20px;
        }
        .cliente__info{
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .cliente__nombre{
                font-family: $texto2;
                color: $color0;
                text-decoration: underline;
                font-size: 20px;
            }
            .cliente__prestacion{
                font-family: $texto;
                color: $color0;
                font-size: 18px;
                margin-bottom: 20px;
            }
            .cliente__comentario{
                font-family:$texto;
                color: $color0;
                font-size: 12px;
                padding: 10px;

            }
        }
    }
}
/*ESPECIFICO PRODUCTO.HTML*/
.presentacion{
    max-width: 100%;
    height: 400px;
    background-color: $color1;
    background-image: url(../img/fondo1.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    h2{
        font-size: 30px;
        font-family: $texto;
        color: $color1;
        text-align: center;
        position: relative  ;
        top: 15px;
    }
}
// introduccion a los productos
.intro__productos{
    max-width: 100%;
    height: 250px;
    background-color: $color1;
    clip-path: polygon(0 0,100% 0,100% 0,0 100%);
    h2{
        width: 65%;
        font-family: $texto2;
        font-size: 28px;
        color: $color0;
        transform: translateX(20px)translateY(5px);
    }
}
//CARTAS DE PRODUCTOS
.venta__producto, .venta__vehiculo{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .venta__card{
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 400px;
        margin-left: 10px;
        margin-bottom: 30px;
        background-color: $color1;
        border: $borde;
        border-radius: 20px;
        .venta__img{
            width: 200px;
            margin-left: 20px;
        }
        img:hover{
            transform: scale(1.2);
        }
        .venta__info{
            width: 150px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            .venta__articulo{
                font-family: $texto2;
                color: $color0;
                font-size: 30px;
            }
            .venta__precio{
                font-family: $texto;
                color: $color0;
                font-size: 26px;
            }
            .venta__boton{
                background-color: $color0;
                width: min-content;
                border-radius: 20px;                
                img{
                    width: 100px;
                }
            }
        }
    }
}
//introduccion a trajetas vehiculos
.intro__vehiculos{
    background-color: $color1;
    max-width: 100%;
    height: 200px;
    padding: 10px;
    clip-path: polygon(0 0,100% 0,0 100%);
    h2{
        text-align: justify;
        font-family: $texto2;
        padding: 20px;
    }
}
/*ESPECIFICO SERVICIOS*/
//introduccion
.prestaciones{
    max-width: 100%;
    padding: 10px;
    h2{
        margin-top: 40px;
        font-family: $texto2;
        color: $color1;
        font-size: 32px;
    }
}
//tarjetas de servicios
.main-servicios{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .servicio__card{
        width: 90%;
        border: $borde2;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 30px;
        display: grid;
        grid-template-areas:
        "img texto"
        "info texto" ;
        .servicio__img{
            grid-area: img;
            width: 100%;
            border: $borde2;
            border-radius: 20px;
        }
        .servicio__img:hover{
            transform: scale(1.3);
        }
        .servicio__info{
            grid-area: info;
            .servicio__articulo{
                font-family: $texto2;
                color: $color1;
                text-align: center;
            }
            .servicio__precio{
                font-family: $texto;
                color: $color2;
                text-align: center;
            }
            a{
                font-family: $texto2;
                color: $color1;
                text-align: center;
            }
        }
        .servicio__texto{
            grid-area: texto;
            font-family: $texto;
            color: $color2;
            padding: 10px;
            text-align: center;
        }
    }
}
.delivery{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .delivery__card{
        width: 90%;
        height: fit-content;
        background-color: $color0;
        border: dashed 5px white;
        border-radius: 20px;
        margin-right: 10px;
        padding: 10px;
        display: grid;
        grid-template-areas:
        "img info"
        "boton boton";
        justify-content: center;
        align-items: center;
        .delivery__imgbox{
            grid-area: img;
            border-radius: 20px;
            background-image: radial-gradient(white,$color1);
            .delivery__img{
                width: 100%;
                height: 150px;
            }
        }
        .delivery__info{
            grid-area: info;
            padding: 10px;
            .delivery__nombre{
                font-family: $texto2;
                color: $color1;
                text-align: center;
                text-decoration: underline;
                text-transform: uppercase;
            }
            .delivery__precio{
                font-family: $texto;
                color: $color2;
            }
            .delivery__texto{
                font-family: $texto;
                color: $color1;
            }
        }
        .delivery__boton{
            width: 200px;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            
            color: $color0;
            background-color: $color1;
            border-radius: 15px;
            box-shadow: 0 5px #ccd60eb8;
            &:hover{
                background-color: yellow;
            }
            &:active{
                background-color: $color2;
                box-shadow: 0 2px lightgrey;
                transform: translateY(4px);
            }            
        }
    }
}
//ESPECIFICO USUARIO.HTML
.presupuesto__intro{
    max-width: 100%;
    height: 450px;
    background-image: linear-gradient(to bottom, $color0, $color1);
    margin-bottom: 100px;
    position: relative;
    &::after{
        content:"";
        display: block;
        background-color: $color1;
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: -50px;
        z-index: -1;
        margin-left: 200px;
        transform: translateY(100px);
        transform: rotate(45deg);
    }
    h2{
        font-family: $texto2;
        color: $color2;
        font-size: 32px;
        padding: 10px;
        text-align: center;
        margin-top: 100px;
    }
}
.presupuesto__formulario{
    padding: 10px;
    fieldset{
        display: grid;
        align-items: center;
        justify-items: center;
        border-radius: 20px;
        legend{
            text-align: center;
            color: $color1;
            font-family: $texto2;
            font-size: 28px;
            text-decoration: underline;
            text-transform: uppercase;
            margin-top: 50px;
        }
        label{
            color: $color1;
            font-family: $texto;
            font-size: 16px;
            text-align: center;
        }
        input{
            width: 75%;
            border: $borde2;
            border-radius: 20px;
        }
        div{
            color: $color1;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        textarea{
            width: 75%;
            border-radius: 20px;
            border: $borde2;
        }
    }
}
.terminos{
    margin-top: 20px;
    .terminos__texto{
        text-align: center;
        color: $color1;
    }
}
.presupuesto__boton{
    width: 100px;
    border: $borde2;
    border-radius: 20px;
    box-shadow: 2px 3px 3px white;
    background-image: radial-gradient($color0, $color1);
    color: $color2;
    text-transform: uppercase;
    font-family: $texto2;
    transform: translateX(180px);
}
//ESPECIFICO ESPECIALISTAS.HTML
.intro-especialista{
    max-width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom, $color1, $color0);
    margin-bottom: 50px;
    h2{
        font-family: $texto2;
        color: $color2;
        text-align: center;
        padding-top: 30px;
    }
}
.contenedor-especialista{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-especialista{
        width: 250px;
        height: 350px;
        position: relative;
        margin-bottom: 30px;
        border-radius: 20px;

        .tarjeta{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            position: absolute;
            backface-visibility: hidden;
            transition: 1s;

        }
        .frente{
            background-image: radial-gradient($color1, $color2);
            transform: perspective(500px) rotateY(0deg);
            .img-especialista{
                width: 100px;
            }
            .especialista-nombre{
                font-family: $texto2;
                color: $color0;
                text-align: center;
                text-decoration: underline;
                text-transform: uppercase;
                margin-top: 30px;
            }
        }
        .atras{
            background-image: radial-gradient($color1, $color2);
            transform: perspective(500px) rotateY(180deg);
            ul{
                font-family: $texto2;
                text-align: center;
                text-decoration: underline;
                text-transform: uppercase;
                color: $color0;
                list-style: none;
                li{
                    font-family: $texto;
                    text-align: center;
                    color: $color0;
                    margin-bottom: 25px;
                    margin-top: 25px;
                }
            }
        }
    }
    .card-especialista:hover .frente{
            transform: perspective(500px) rotateY(180deg);
    }
    .card-especialista:hover .atras{
        transform: perspective(500px) rotateY(360deg);
    }
}
//ESPECIFICO TERMINOS.HTML
.tyc{
    max-width: 100%;
    h2{
        font-family: $texto2;
        color: $color1;
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    p{
        font-family: $texto;
        text-align: center;
        color: $color2;
        font-size: 20px;
        padding: 20px;
        span{
            font-weight: 600;
            font-style: italic;
            color: $color1;
            text-transform: uppercase;
        }
    }
}
//MEDIA QUERIES
@media only screen and (min-width: 1024px){
    
    //ESTILOS GENERALES
    //Header
    .cabeza{
        display: grid;
        height:150px ;
        grid-template-areas:
        "logo titulo titulo"
        "logo men men"
        ;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 5px;
        align-items: center;
        justify-content: center;
        .logo{
            transform: scale(1.8) translateX(50px) translateY(25px);
        }
        .cabeza__h1{
            font-size: 3rem;
            text-decoration: underline;
        }
        .menu{
            transform: translateY(20px);
            .text{
                font-size: 30px;
            }
        }

    }
    //footer
   .pie{
       display: grid;
       grid-template-columns: repeat(1fr);
       justify-content: center;
       align-items: center;
       .logoFooter{
           transform: scale(1.6) translateX(80px);
       }
   }
   address{
       transform: scale(1.4);
       margin-left: 20px;
   }
   .menuFooter{
       justify-self: center;
    }
   //INDEX
   //imagen presentacion
    .intro{
       max-width: 100%;
       height:200vh;
       background-size: cover;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
        .intro__h2{
           font-size: 5rem;
           margin-top: 30px;
           color: $color0;
        }
        .intro__h3{
            margin-bottom: 50px;
            color: $color1;
        }
    }
    //inreoduccion enlace presupuesto
    .introTexto{
        max-width: 100%;
        height: 100vh;
        &::before{
            width: 100%;
            height: 200px;
            position: relative;
            top: 0;
        }
        p{
            font-size: 2rem;
            color: $color1;
            padding: 30px;
            text-align: justify;
            span{
                color: $color2;
            }
        }
    }
    //enlace presupuesto
    .muestra{
        height: 100vh;
        .muestra__caja{
            width: 90%;
            height: auto;
            border-radius: 20px;
            display: grid;
            grid-template-areas:
            "img info"
            "img enlace"
            ;
            background-image: radial-gradient($color2 ,$color1);
            .muestra__img{
                width: 100%;
                border-radius: 20px;
                grid-area: img;
                border: $borde;
            }
            .muestra__info{
                grid-area: info;
                display: flex;
                flex-direction: column;
                padding: 20px;
                justify-content: space-around;
                align-items: center;
            }
            .muestra__enlace{
                grid-area: enlace;
                width: 200px;
                height: 70px;
                justify-self: center;
                display: flex;
                align-items: center;
                justify-content: space-around;         
            }
        }
    }
    //introduccion enlace productos y servicios
    .intro--b{
        max-width: 100%;
        height: 350px;
        .b--h2{
            font-size: 3.5rem;
            text-align: center;
        }
    }
    //enlace productos y servicios
    .venta{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .servicios, .productos{
            width: 45%;
            height: auto;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    //introduccion enlace especialistas
    .intro--c{
        width: 100%;
        height: 300px;
        &::before{
            height: 300px;
        }
        .c--h2{
            font-size: 3rem;
        }
    }
    //enlace especialistas
    .especialistas{
        max-width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        .especialistas__card{
            width: 90%;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color0;
            border: $color2 3ps solid;
            .especialistas__img{
                width: 50%;
                border: $borde2;
                margin-bottom: 20px;
            }
            .especialistas__info{
                width: 80%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                margin: 15px;
                border: $borde2;
                .especialistas__h2{
                    color: $color1;
                    text-decoration: underline;
                }
                .especialistas__texto{
                    color: $color1;
                    font-size: 20px;
                }
                .especialistas__boton{
                    border: $borde2;
                    &::before{
                        content: "→";
                        color: $color1;
                    }
                    &::after{
                        content: "←";
                        color: $color1;
                    }
                }
            }
        }       
    }
    //introduccion experiencia clientes
    .intro--d{
        max-width: 100%;
        height: 500px;
        &::after{
            width: 100%;
            height: 250px;
            transform: translateY(50px);
        }
        .d--h2{
            font-size: 3rem;
            text-align: center;
        }
    }
    //clientes
    .cliente{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        align-items: center;
        justify-content: space-around;
        .cliente__card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 250px;
            height: 500px;
            .cliente__img{
                width: 50%;
                position: relative;
                top: 15px;
            }
        }
    }
    //PRODUCTOS.HTML
    //imagen de presentacion
    .presentacion{
        max-width: 100%;
        height: 800px;
        background-size: cover;
        h2{
            font-size: 3rem;
            color: $color2;
            text-align: center;
            margin-top: 30px;
            padding: 15px;
        }
    }
    //introduccion a los productos
    .intro__productos{
        width: 100%;
        height: 350px;
        display: flex;
        clip-path: polygon(0 0,100% 0,100% 50%,50% 100%,0 50%);
        justify-content: space-around;
        align-items: center;
        h2{
            font-size: 3rem;
            margin-left: 30px;
            text-transform: uppercase;
            text-align: center;
        }
    }
    //Cartas de productos
    
    .venta__producto, .venta__vehiculo{
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 60px;
        .venta__card{
            display: flex;
            flex-direction: column;
            width: 350px;
            height: 550px;
            padding: 10px;
            .venta__img{
                width: 100%;
                padding: 10px;
            }
            .venta__info{
                width: 90%;
                height: 90%;
                display: flex;
                flex-direction:column;
                
                align-items: center;
                .venta__articulo{
                    font-size: 1.5rem;
                    text-decoration: underline;
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 20px;
                }
                .venta__precio{
                    font-weight: 600;
                    margin-bottom: 30px;
                }
                .venta__boton{
                    position: relative;
                    bottom: 20px;
                    :hover{
                        background-color: $color1;
                        border: $borde;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
    .intro__vehiculos{
        max-width: 100%;
        display: flex;
        height: 300px;
        clip-path:polygon(0 0,100% 0, 100% 50%, 50% 100%,0 50%);
        align-items: center;
        justify-content: center;
        h2{
            text-align: center;
            text-transform: uppercase;
            font-size: 3rem;
            color: $color0;
        }
    }
    //ESPECIFICO SERVICIOS
    //introduccion
    .prestaciones{
        max-width: 100%;
        height: 500px;
        background-color: $color1;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: polygon(0 0,100% 0,100% 50%,95% 75%,50% 100%,5% 75%,0 50%);
        h2{
            color: $color0;
            text-align: center;
            font-size: 4.3rem;
        }
    }
    //tarjetas de servicios
    .main-servicios{
        .servicio__card{
            width: 90%;
            height: 600px;
            margin-bottom: 50px;
            padding: 20px;
            border:none ;
            position: relative;
            border-top: 6px solid $color1;
            display: grid;
            grid-template-areas: 
            "img texto"
            "info info"
            ;
            .servicio__img{
                grid-area: img;
                width: 100%;
            }
            .servicio__info{
                grid-area: info;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .servicio__articulo{
                    font-size: 2.5rem;
                }
                .servicio__precio{
                    font-size: 30px;
                }
                a{
                  width: 600px;
                  font-size: 26px;
                  text-align: center;
                  background-color: $color1;
                  color: $color2;
                  border-radius: 20px;
                  &:hover{
                    border: 5px solid $color2;
                    color: $color0;
                    background-image: radial-gradient($color2, $color1);  
                  }  
                }
            }
            .servicio__texto{
                grid-area: texto;
                font-size: 1.7rem;
                text-align: justify;
                padding: 20px;
            }
        }
    }
    .delivery{
        margin:35px 0;
        .delivery__card{
            width: fit-content;
            height: 100px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: fixed;
            bottom: 150px;
            right: 20px;
            .delivery__imgbox{
                height: 90%;
                .delivery__img{
                    width: 100%;
                    height: 100%;
                }
            }
            .delivery__info{
                height: 90%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .delivery__nombre{
                    font-size: 18px;
                }
                .delivery__precio{
                    font-size: 11px;
                }
                .delivery__texto{
                    font-size: 11px;
                }
            }
            .delivery__boton{
                width: 50px;
                font-size: 12px;
            }
        }
    }
    //USUARIO
    .presupuesto__intro{
        h2{
            font-size: 3rem;
        }
    }
    .presupuesto{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .presupuesto__formulario{
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            fieldset{
                width: 100%;
            }
            .presupuesto__boton{
                transform: none;
            }
        }
    }
    //TERMINOS Y CONDICIONES
    .tyc{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-family: $texto2;
            color: $color1;
            font-size: 3em;
            text-align: center;
            text-decoration: underline;
            text-transform: uppercase;
            margin: 50px 0;
        }
        p{
            width: 75%;
            font-family: $texto;
            text-align: justify;
            color: $color2;
            font-size: 32px;
            line-height: 1.5;
            padding: 20px;
            span{
                font-weight: 600;
                font-style: italic;
                color: $color1;
                text-transform: uppercase;
            }
        }
    }
}
@media (min-width:600px) and (max-width:1023px){
    
}