body{
    background-color: black;
}
.cabeza{
    background:navajowhite;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 2em 2em 10em;
    clip-path: polygon(0 0, 300% -350%, 80% 75%, 0 30%);
    display: grid;
    grid-template-areas:
    "logo titulo titulo"
    "menu menu menu"
     ;
    .logo{width: min-content;
        grid-area: logo;
        .logo__img{
            width: min-content;
        }
    }
    .cabeza__h1{
        grid-area: titulo;
    }
    .menu{
        grid-area: menu;
        display: flex;
        flex-direction: row;
       
        ul{
            list-style: none;
            font-size: 20px;
            margin: 5px;
            text-align: center;
            display: inline;
            &li{                
                font-size: 14px;
                margin-left: 10px;
            }
        }    
    }
}