<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="../css/estil.css">
    <!--SEO-->
    <meta name="keywords" content="especialistas, mercenarios, contratar, trabajos, guardaespalda, constructor, militar, medico">
    <title>Especialistas de Pixies</title>
    <meta name="description" content="Cooperativa Pixie Mercenary cuenta con una amplia plantilla de profesionales aptos para los distinto trabajos que requiera cada cliente">
</head>
<body>
    <header class="cabeza">
        <!--logo-enlace a index-->
        <a href="../index.html" class="logo"><img src="./img/Logo.png" alt="logo" class="logo__img"></a>
        <!--Nombre de Empresa-->
        <h1 class="cabeza__h1" id="index">Pixies</h1>
        <!--Menu navegacion-->
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="usuario.html">Usuario</a></li>
            </ul>
        </nav>
    </header>
    <!--slogan especialistas-->
    <section>
        <h2>Nuestros especialistas al servicio de cada cliente particular </h2>
    </section>
    <!--contenido-->
    <main>
        <div class="contenedor">
            <div class="glass_card">
                <div class="contentTop">
                    <img src="../img/perfil-1.png" alt="berseker">
                    <h2>Bersek</h2>
                    <h3>Psicopata</h3>
                    <p>Luchador cuerpo a cuerpo, temerario, moral cuestionable, ideal para trabajos que no requieran sutileza</p>
                </div>
                <div class="contentBottom">
                    <div class="socialIcons">
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="boton">
                        <a href="">Contratar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor">
            <div class="glass_card">
                <div class="contentTop">
                    <img src="../img/perfil-2.png" alt="bill">
                    <h2>Bill</h2>
                    <h3>Alguacil</h3>
                    <p>Gran disparador, estratega, lider nato y un inquebrantable sentido del deber. Ideal para expediciones grupales y/o proteccion</p>
                </div>
                <div class="contentBottom">
                    <div class="socialIcons">
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="boton">
                        <a href="">Contratar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor">
            <div class="glass_card">
                <div class="contentTop">
                    <img src="../img/perfil-3.png" alt="saw">
                    <h2>Saw</h2>
                    <h3>Psicopata</h3>
                    <p>Ademas de ser del mismo formato que Bersek, es un buen agente de saqueo. Especialista en incursiones a propiedades privadas no muy discretas</p>
                </div>
                <div class="contentBottom">
                    <div class="socialIcons">
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="boton">
                        <a href="">Contratar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor">
            <div class="glass_card">
                <div class="contentTop">
                    <img src="../img/perfil-4.png" alt="Gabriela">
                    <h2>Gabriela</h2>
                    <h3>Medica militar</h3>
                    <p>Especialista en rescate, apoyo medico de combate, grandes habilidades militares y bastos conocimientos en medicina</p>
                </div>
                <div class="contentBottom">
                    <div class="socialIcons">
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="boton">
                        <a href="">Contratar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor">
            <div class="glass_card">
                <div class="contentTop">
                    <img src="../img/perfil-5.png" alt="Tato">
                    <h2>Tato</h2>
                    <h3>Carpintero</h3>
                    <p>grandes habilidades en madera y construccion, pero tambien formidable hombre de combate cuerpo a cuerpo que no cede ante el miedo ni el dolor</p>
                </div>
                <div class="contentBottom">
                    <div class="socialIcons">
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="boton">
                        <a href="">Contratar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor">
            <div class="glass_card">
                <div class="contentTop">
                    <img src="../img/perfil-6.png" alt="bob">
                    <h2>Bob</h2>
                    <h3>Constructor</h3>
                    <p>Especialista adecuado para reparaciones, remodelaciones y mejoras de refugios, aldeas o bases. Experiencia en construccion bajo ataque</p>
                </div>
                <div class="contentBottom">
                    <div class="socialIcons">
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="boton">
                        <a href="">Contratar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor">
            <div class="glass_card">
                <div class="contentTop">
                    <img src="../img/perfil-7.png" alt="jhonny">
                    <h2>Jhonny</h2>
                    <h3>Guardaespaldas</h3>
                    <p>Ex-maton de la mafia, basta experiencia en proteccion, apriete, y eliminacion de personas. amplio conocimiento en tecnicas de tortura e interrogacion</p>
                </div>
                <div class="contentBottom">
                    <div class="socialIcons">
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="boton">
                        <a href="">Contratar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor">
            <div class="glass_card">
                <div class="contentTop">
                    <img src="../img/perfil-8.png" alt="samanta">
                    <h2>Samanta</h2>
                    <h3>Marine</h3>
                    <p>Especialista en combate cuerpo a cuerpo, uso de armas blancas, tacticas de infiltracion, rastreo y persecusion. Ideal para expediciones secretas y encargos silenciosos</p>
                </div>
                <div class="contentBottom">
                    <div class="socialIcons">
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="boton">
                        <a href="">Contratar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--footer-->
    <footer class="pie">
        <!--logo enlace index-->
        <a href="../index.html"><img src="./img/logo.png" alt="logo-index"></a>
        <!--redes sociales-->
        <div>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <!--datos de la empresa-->
        <address>
            Oficinas: Al norte de la ciudad.
            Telefono:249-4366xxx
            E-mail: Pixies.coop@apocalipmail.zom 
        </address>
        <p class=" pie__texto">© Copyright derechos reservados por Cooperativa Pixies Mercenary<a href="#index" class="pie__enlace">Subir</a></p>
    </footer>
</body>
</html>