<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FUENTES-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="../css/estil.css">
    <!--SEO-->
    <meta name="keywords" content="armas, vehiculos, productos, repuestos, motocicletas, pixies,">
    <title>Productos de Pixies</title>
    <meta name="description" content="Cooperativa Pixies Mercenary cuenta con una amplia gama de productos de fabricacion propia y de cosecha de expedicion. Precios y formas de pago accesibles">
</head>
<body>
    <header class="cabeza">
        <!--logo-enlace a index-->
        <a href="../index.html" class="logo"><img src="../img/Logo.png" alt="logo" class="logo__img"></a>
        <!--Nombre de Empresa-->
        <h1 class="cabeza__h1" id="index">Pixies</h1>
        <!--Menu navegacion-->
        <nav class="menu">
            <ul class="menu__list">
                <li><a href="../index.html">
                    <span class="text">Inicio</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                    </a>
                </li>
                <li><a href="servicios.html">
                    <span class="text">Servicios</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                    </a>
                </li>
                <li><a href="especialistas.html">
                    <span class="text">Especialistas</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                    </a>
                </li>
                <li><a href="usuario.html">
                    <span class="text">Presupuesto</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <!--Slogan de venta-->
    <section class="presentacion">
        <img src="../img/fondo1.png" alt="fondo">
        <h2>En nuestras manos, los recursos necesarios para su supervivencia</h2>
    </section>
    <!--contenido-->
    <main>        
        <div class="intro__productos">
            <h2>Para resultados adecuados <br> los elementos adecuados</h2>
        </div>
        <article class="venta__producto">
            <div class="venta__card">
                <img class="venta__img" src="../img/arma-1.png" alt="lanzagranadas">
                <div class="venta__info">
                    <h3 class="venta__articulo">Lanzador de granadas</h3>
                    <p class="venta__precio">$13.000 (incluye 5 granadas)</p>                    
                    <button class="venta__boton"><a href="#"><img src="../img/Cash-min.png" alt="pagar"></a></button>
                </div>
            </div>
            <div class="venta__card">
                <img class="venta__img" src="../img/arma-2.png" alt="beretta">
                <div class="venta__info">
                    <h3 class="venta__articulo">Beretta</h3>
                    <p class="venta__precio">$5.000</p>
                    <button class="venta__boton"><a href="#"><img src="../img/Cash-min.png" alt="pagar"></a></button>
                </div>
            </div>
            <div class="venta__card">
                <img class="venta__img" src="../img/arma-3.png" alt="pistola de clavos">
                <div class="venta__info">
                    <h3 class="venta__articulo">Pistola de clavos</h3>
                    <p class="venta__precio">$2.000</p>
                    <button class="venta__boton"><a href="#"><img src="../img/Cash-min.png" alt="pagar"></a></button>
                </div>
            </div>
            <div class="venta__card">
                <img class="venta__img" src="../img/arma-4.png" alt="b-31">
                <div class="venta__info">
                    <h3 class="venta__articulo">B-3-1</h3>
                    <p class="venta__precio">$8.000</p>
                    <button class="venta__boton"><a href="#"><img src="../img/Cash-min.png" alt="pagar"></a></button>
                </div>
            </div>
        </article>        
            <div class="intro__vehiculos">
                <h2>Un buen vehiculo...una buena expedicion</h2>
            </div>        
        <article class="venta__vehiculo">
            <div class="venta__card">
                <img class="venta__img" src="../img/vehiculo-1.png" alt="sidecar">
                <div class="venta__info">
                    <h3 class="venta__articulo">Motocicleta con sidecar</h3>
                    <p class="venta__precio">$22.000</p>
                    <button class="venta__boton"><a href="#"><img src="../img/Cash-min.png" alt="pagar"></a></button>
                </div>
            </div>
            <div class="venta__card">
                <img class="venta__img" src="../img/vehiculo-2.png" alt="choper">
                <div class="venta__info">
                    <h3 class="venta__articulo">Chopper 350cc</h3>
                    <p class="venta__precio">$30.000</p>
                    <button class="venta__boton"><a href="#"><img src="../img/Cash-min.png" alt="pagar"></a></button>
                </div>
            </div>
            <div class="venta__card">
                <img class="venta__img" src="../img/vehiculo-3.png" alt="van reforzada">
                <div class="venta__info">
                    <h3 class="venta__articulo">Van Reforzada</h3>
                    <p class="venta__precio">$43.500</p>
                    <button class="venta__boton"><a href="#"><img src="../img/Cash-min.png" alt="pagar"></a></button>
                </div>
            </div>
            <div class="venta__card">
                <img class="venta__img" src="../img/vehiculo-4.png" alt="camion">
                <div class="venta__info">
                    <h3 class="venta__articulo">Camion Volvo</h3>
                    <p class="venta__precio">$70.000</p>
                    <button class="venta__boton"><a href="#"><img src="../img/Cash-min.png" alt="pagar"></a></button>
                </div>
            </div>
        </article>        
    </main>
    <!--footer-->
    <footer class="pie">
        <!--logo enlace index-->
        <a href="../index.html" class="logoFooter"><img src="../img/Logo.png" alt="logo-index" class="logoFooter__img"></a>
        <!--datos de la empresa-->
        <address>
            Oficinas: Al norte de la ciudad <br>
            Telefono:249-4366xxx <br>
            E-mail: Pixies.coop@apocalipmail.zom 
        </address>
        <div class="menuFooter">
            <a href="../index.html">Inicio</a>
            <a href="servicios.html">Servicios</a>
            <a href="especialistas.html">Especialista</a>
            <a href="usuario.html">Usuario</a>
        </div>
        <p class=" pie__texto">© Copyright derechos reservados por Cooperativa Pixies Mercenary<a href="#index" class="pie__enlace">Subir</a></p>
    </footer>
    </body>
</html>