<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="widht=divice-width,initial-scale=1.0">     
        <!--fuentes-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
        <!--BS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!--css-->
        <link rel="stylesheet" href="../css/estil.css">
        <meta name="keywords" content="zombies, armas, armamento, vehiculos, expediciones, prestaciones, servicios, supervivencia">
    <title>Servicios y productos de G.A.Z</title>
    <meta name="description" content="En su seccion de servicios y productos, G.A.Z, ofrece a los supervivientes una amplia diversidad de productos, prestaciones y ofertas acordes a las necesidades actuales en este contexto apocaliptico">
</head>
<body>
    <header class="cabeza row container-fluid">           
        <h1 class="cabeza__titulo col-12 col-lg-12">Servicios y Productos</h1>
            <ul class="menu col-12 col-lg-12">
                <li class="menu__items"><a href="../index.html" class="menu__enlace">Inicio</a></li>
                <li class="menu__items"><a href="ups.html" class="menu__enlace">Servicios</a></li>
                <li class="menu__items"><a href="ups.html" class="menu__enlace">Contactos</a></li>
                <li class="menu__items menu__items--end"><a href="usuario.html" class="menu__enlace">Usuarios</a></li>
            </ul>
    </header>
    <main class="container-fluid">
        <h2 class="bienvenidos col-12 col-lg-12">Bienvenidos a nuestra seccion de productos y servicios, a continuacion les ofrecemos algunas de nuestras prestaciones</h2>
        <section class="row">
            <article class="oferta col-12 col-lg-6">
                <h3 class="oferta__titulo">Armamento</h3>
                <div class="product ">
                    <img class="product__img" src="../img/Heavypistol_2x-min.png" alt="heavypistol" style="width:100%">
                    <h4 class="product__nombre">Beretta</h4>
                    <p class="product__precio">1500,00</p>
                    <p class="product__text">Poderosa arma, veloz, de buena respuesta. Ideal para poco equipaje pero buen poder de fuego.</p>
                    <p><button class="product__boton">Al carrito</button> <i><img src="../img/Cash-min.png" alt="billete"></i></p>
                </div>
                <div class="product">
                    <img class="product__img" src="../img/Nailgun_2x-min.png" alt="nailgun" style="width:100%">
                    <h4 class="product__nombre">Pistola de Clavos</h4>
                    <p class="product__precio">1000,00</p>
                    <p class="product__text">De bajo poder de fuego pero de municiones mas faciles de conseguir y transportar</p>
                    <p><button class="product__boton">Al carrito</button> <i><img src="../img/Cash-min.png" alt="billete"></i></p>
                </div>
                <div class="product">
                    <img class="product__img" src="../img/Submachinegun_2x-min.png" alt="submachinegun" style="width:100%">
                    <h4 class="product__nombre">Subfusil Automatico</h4>
                    <p class="product__precio">3500,00</p>
                    <p class="product__text">Producto ideal para expediciones a territorios de alta densidad Zombistica.</p>
                    <p><button class="product__boton">Al carrito</button> <i><img src="../img/Cash-min.png" alt="billete"></i></p>
                </div>
                <div class="product">
                    <img class="product__img" src="../img/AntiqueRifle_2x-min.png" alt="antiquerifle" style="width:100%">
                    <h4 class="product__nombre">Winchester</h4>
                    <p class="product__precio">2300,00</p>
                    <p class="product__text">Un clasico, un arma de calidad solo para experimentados cazazombies o Arnoldo Suaceneguer.</p>
                    <p><button class="product__boton">Al carrito</button> <i><img src="../img/Cash-min.png" alt="billete"></i></p>
                  </div>
                  <div class="product">
                    <img class="product__img" src="../img/Grenadelauncher_2x-min.png" alt="granadelauncher" style="width:100%">
                    <h4 class="product__nombre">Lanzagranadas</h4>
                    <p class="product__precio">7400,00</p>
                    <p class="product__text">No hace falta decir mucho... Se recomienda carecer de algunos tornillos en la cabeza para salir a jugar con esto.</p>
                    <p><button class="product__boton">Al carrito</button> <i><img src="../img/Cash-min.png" alt="billete"></i></p>
                  </div>
                </article>
            <article class="oferta col-12 col-lg-6">
                <h3 class="oferta__titulo">vehiculos</h3>
                <div class="product">
                    <img class="product__img" src="../img/Old_van_green-min.png" alt="Old_van_green" style="width:100%">
                    <h4 class="product__nombre">Van vieja, standar</h4>
                    <p class="product__precio">15000,00</p>
                    <p class="product__text">Condiciones standar/dudosas. ideal para refaccionar</p>
                    <p><button class="product__boton">Al carrito</button> <i><img src="../img/Cash-min.png" alt="billete"></i></p>
                </div>
                <div class="product">
                    <img class="product__img" src="../img/Old_Van_spears-min.png" alt="Old_Van_spears" style="width:100%">
                    <h4 class="product__nombre">Van Mejorada</h4>
                    <p class="product__precio">24000,00</p>
                    <p class="product__text">Exterior reforzado, motor potenciado, interior confortable y apoya vaso agragado (polarizado precio extra)</p>
                    <p><button class="product__boton">Al carrito</button> <i><img src="../img/Cash-min.png" alt="billete"></i></p>
                </div>
                <div class="product">
                    <img class="product__img" src="../img/Scooter_2x-min.png" alt="Scooter" style="width:100%">
                    <h4 class="product__nombre">Scooter</h4>
                    <p class="product__precio">12240,00</p>
                    <p class="product__text">Si queres un transporte agil, economico y que te de ese fresco estilo hippie, esta es tu opcion</p>
                    <p><button class="product__boton">Al carrito</button> <i><img src="../img/Cash-min.png" alt="billete"></i></p>
                </div>
                <div class="product">
                    <img class="product__img" src="../img/Sidecar_2x-min.png" alt="sidecar" style="width:100%">
                    <h4 class="product__nombre">Sidecar</h4>
                    <p class="product__precio">17000,00</p>
                    <p class="product__text">Un clasico, quien no soño ir ese carrito disparando a diestra y siniestra a una horda de zombies?.</p>
                    <p><button class="product__boton">Al carrito</button> <i><img src="../img/Cash-min.png" alt="billete"></i></p>
                  </div>
                  <div class="product">
                    <img class="product__img" src="../img/Chopper_2x-min.png" alt="Chopper" style="width:100%">
                    <h4 class="product__nombre">Choper</h4>
                    <p class="product__precio">35000,00</p>
                    <p class="product__text">Incluso en pleno apocalipsis zombie, no hay nada mejor que recorrer la carretera encima de una motocicleta de verdad.</p>
                    <p><button class="product__boton">Al carrito</button> <i><img src="../img/Cash-min.png" alt="billete"></i></p>
                  </div>
                </article>
        </section>
        <section>
            <article class="oferta row">
                <h3 class="oferta__titulo">Viajes</h3>
                <div class="product">
                    <img class="product__img" src="../img/Badge-category-0-min.png" alt="desierto" style="width:100%">
                    <h4 class="product__nombre">Desierto</h4>
                    <p class="product__precio">8000,00</p>
                    <p class="product__text">El desierto es una mina de materiales y maquinaria abandonadas</p>
                    <p><button class="product__boton">Al carrito</button> <i><img src="../img/Cash-min.png" alt="billete"></i></p>
                </div>
                <div class="product">
                    <img class="product__img" src="../img/Badge-category-3-min.png" alt="montaña" style="width:100%">
                    <h4 class="product__nombre">Montaña</h4>
                    <p class="product__precio">11000,00</p>
                    <p class="product__text">viaje lento y peligroso pero de buenas recompensas</p>
                    <p><button class="product__boton">Al carrito</button> <i><img src="../img/Cash-min.png" alt="billete"></i></p>
                </div>
                <div class="product">
                    <img class="product__img" src="../img/Badge-category-4-min.png" alt="suburbios" style="width:100%">
                    <h4 class="product__nombre">Suburbios</h4>
                    <p class="product__precio">17000,00</p>
                    <p class="product__text">Solo entrara en calles principales y de facil escape. Tiempo de espera 45 min.</p>
                    <p><button class="product__boton">Al carrito</button> <i><img src="../img/Cash-min.png" alt="billete"></i></p>
                </div>
            </article>
            <article class="row">
                <div class="product product--delivery">
                    <img class="product__img" src="../img/delivery-min.png" alt="delivery" style="width:100%">
                    <div class="product__info">
                        <h3 class="product__nombre ">Delivery</h3>
                        <p class="product__precio">100,00 cada 100mts</p>
                        <p class="product__text">entrega en la puerta de tu refugio</p>
                        <p><button class="product__boton">Al carrito </button><i><img src="../img/Cash-min.png" alt="billete"></i></p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer class="pie container-fluid">
        <p class=" pie__texto">Reservaria los derechos pero estamos en un apocalipsis Zombie
        Si eres un zombie visitando el sitio te recomiendo ir a GBZ (Guia del Buen Zombie)<a href="../index.html" class="pie__enlace">home</a></p>
    </footer>
</body>
</html>