<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="widht=divice-width,initial-scale=1.0">     
        <!--fuentes-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
        <!--BS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!--css-->
        <link rel="stylesheet" href="../css/estil.css">
        <!--SEO-->
        <meta name="keywords" content="zombies, mercenarios, expediciones, prestaciones, servicios, supervivencia">
    <title>Servicios Pixies</title>
    <meta name="description" content="En su seccion de servicios, Pixies, ofrece a los supervivientes una amplia diversidad de prestaciones y ofertas acordes a las necesidades actuales en este contexto apocaliptico">
</head>
<body>
    <header>
        <!--logo-enlace a index-->
        <a href="index.html" class="logo"><img src="./img/Logo.png" alt="logo" class="logo__img"></a>
        <!--Nombre de Empresa-->
        <h1 class="cabeza__h1" id="index">Pixies</h1>
        <!--Menu navegacion-->
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="especialistas.html">Especialistas</a></li>
                <li><a href="usuario.html">Usuario</a></li>
            </ul>
        </nav>
    </header>
    <!--slogan de servicios-->
    <section>
        <h2>
            Lo que usted quiere esta en sus manos, lo que necesita esta en las nuestras
        </h2>
    </section>
    <!--contenido-->
    <main>
        <div>
            <img src="../img/servicios-1.jpg" alt="exterminio">
            <div>
                <h3>Exterminio de hordas</h3>
                <p>Precio base $65.000</p>
                <a href="#"><img src="../img/Cash-min.png" alt="pagar"></a>
            </div>
            <p>Elimine con seguridad las hordas que se dirigen hacia su posicion, nuestros especialistas planificaran y prepararan el mejor terreno para eliminar la amenaza sin que usted sufra ningun daño.</p>
        </div>
        <div>
            <img src="../img/servicios-3.jpg" alt="saqueos">
            <div>
                <h3>Saqueos</h3>
                <p>30% del botin</p>
                <a href="#"><img src="../img/Cash-min.png" alt="pagar"></a>
            </div>
            <p>Sigilosos, incriminadores, violentos o como usted necesite, nuestra cooperativa tiene basta experiencia en saqueos a sitios infectados u ocupados por otros supervivientes. Para cada estilo de saqueo tenemos las propuestas acordes.</p>
        </div>
        <div>
            <img src="../img/servicios-4.jpg" alt="encargo">
            <div>
                <h3>Objetivos por encargo</h3>
                <p>Precio base de $30.000</p>
                <a href="#"><img src="../img/Cash-min.png" alt="pagar"></a>
            </div>
            <p>Tenemos especialistas idoneos que pueden encargarse de los objetivos especificos. Necesita un asesinato que genere conflicto entre otros grupos o simplemente desea encargarse de algo personal, tenemos el servicio adecuado.</p>
        </div>
        <div>
            <img src="../img/servicios-5.jpg" alt="defensa">
            <div>
                <h3>Servicio de proteccion y defensa</h3>
                <p>Precio a convenir en el lugar</p>
                <a href="#"><img src="../img/Cash-min.png" alt="pagar"></a>
            </div>
            <p>Todos tenemos algo que proteger en este contexto apocaliptico. Nosotros tenemos las herramientas y el conocimiento adecuado para que eso pueda suceder. con el presupuesto acorde tendra el escudo acorde.</p>
        </div>
        <div>
            <img src="../img/servicios-6.jpg" alt="limpieza">
            <div>
                <h3>Eliminacion y limpieza de zonas infectadas</h3>
                <p>$45.000</p>
                <a href="#"><img src="../img/Cash-min.png" alt="pagar"></a>
            </div>
            <p>Los cuerpo repartidos en las cercanias son grandes focos de enfermedades que pueden afectar gravemente a su poblacion y pueden atraer a mas infectados. nosotros tenemos los recursos y la logistica para hacerlo por usted o para liberar y limpiar una zona especifica que usted necesite.</p>
        </div>
        <div>
            <img src="../img/servicios-7.jpg" alt="">
            <div>
                <h3>Construccion y reformas de refugios y aldeas</h3>
                <p>30% de los materiales</p>
                <a href="#"><img src="../img/Cash-min.png" alt="pagar"></a>
            </div>
            <p>Un sitio segur se ha vuelto una de las cosas escenciales para la supervivencia. Si desea asentarse y carece de mano de obra, Pixies Mercenary cuenta con un equipo altamente calificado para construir velozmente y con calidad el diseño que usted tenga en mente. Asi mismo tenemos experiencia tecnica y teorica para el refuerzo y reforma de construcciones ya existentes</p>
        </div>
        <!--servicio de delivery-->
        <article>
                <div>
                    <imgoduct__img" src="../img/delivery-min.png" alt="delivery" style="width:100%">
                    <div>
                        <h3>Delivery</h3>
                        <p>$100,00 cada 100mts</p>
                        <p>entrega en la puerta de tu refugio</p>
                        <button><a href="#"><img src="../img/Cash-min.png" alt=""></a></button>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <!--footer-->
    <footer>
        
    </footer>
</body>
</html>