<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estil.css">
    <title>Terminos y condiciones</title>
</head>
<body>
    <header class="cabeza">
        <!--logo-enlace a index-->
        <a href="../index.html" class="logo"><img src="../img/Logo.png" alt="logo" class="logo__img"></a>
        <!--Nombre de Empresa-->
        <h1 class="cabeza__h1" id="index">Pixies</h1>
        <!--Menu navegacion-->
        <nav class="menu">
            <ul class="menu__list">
                <li><a href="productos.html">
                    <span class="text">Productos</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                    </a>
                </li>
                <li><a href="servicios.html">
                    <span class="text">Servicios</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                    </a>
                </li>
                <li><a href="especialistas.html">
                    <span class="text">Especialistas</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                    </a>
                </li>
                <li><a href="usuario.html">
                    <span class="text">Presupuesto</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <!--contenido-->
    <section class="tyc">
        <h2>Nuestros terminos y condiciones</h2>
        <p>Nuestra cooperativa Apocalips Pixies Mercenary, se ha manejado y se maneja con sus usuarios y clientes bajo un acuerdo tacito pero claro que hemos sabido sostener y adaptar a los constantes cambios sociales y culturales de esta epoca apocaliptica.
            Nuestros terminos y condiciones se rigen por el siguiente acuerdo: <span>Te haces el vivo y terminas durmiendo con los Zombies, ¿entendido?</span>
        </p>
    </section>
    <!--footer-->
    <footer class="pie">
        <!--logo enlace index-->
        <a href="../index.html" class="logoFooter"><img src="../img/logo.png" alt="logo-index" class="logoFooter__img"></a>
        <!--datos de la empresa-->
        <address>
            Oficinas: Al norte de la ciudad <br>
            Telefono:249-4366xxx <br>
            E-mail: Pixies.coop@apocalipmail.zom 
        </address>
        <div class="menuFooter">
            <a href="../index.html">Inicio</a>
            <a href="productos.html">Productos</a>
            <a href="servicios.html">Servicios</a>
            <a href="especialistas.html">Especialista</a>
            <a href="usuario.html">Usuario</a>
        </div>
        <p class=" pie__texto">© Copyright derechos reservados por Cooperativa Pixies Mercenary<a href="#index" class="pie__enlace">Subir</a></p>
    </footer>
</body>
</html>