<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y condiciones</title>
</head>
<body>
    <header class="cabeza">
        <!--logo-enlace a index-->
        <a href="../index.html" class="logo"><img src="./img/Logo.png" alt="logo" class="logo__img"></a>
        <!--Nombre de Empresa-->
        <h1 class="cabeza__h1" id="index">Pixies</h1>
        <!--Menu navegacion-->
        <nav class="menu">
            <ul>
                <li><a href="./views/productos.html">Productos</a></li>
                <li><a href="./views/servicios.html">Servicios</a></li>
                <li><a href="./views/especialistas.html">Especialistas</a></li>
                <li><a href="./views/usuario.html">Usuario</a></li>
            </ul>
        </nav>
    </header>
    <!--contenido-->
    <section>
        <h2>Nuestros terminos y condiciones</h2>
        <p>Nuestra cooperativa Apocalips Pixies Mercenary, se ha manejado y se maneja con sus usuarios y clientes bajo un acuerdo tacito pero claro que hemos sabido sostener y adaptar a los constantes cambios sociales y culturales de esta epoca apocaliptica.
            Nuestros terminos y condiciones se rigen por el siguiente acuerdo: <span>Te haces el vivo y terminas durmiendo con los Zombies, ¿entendido?</span>
        </p>
    </section>
    <!--footer-->
    <footer>

    </footer>
</body>
</html>