<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widht=divice-width,initial-scale=1.0">     
    <!--fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="../css/estil.css">
    <!--SEO-->
    <meta name="keywords" content="zombies, supervivencia, presupuesto, mercenario,trabajo,encargo">
<title>Inicio de sesion y registro</title>
<meta name="description" content="Presupuestos de objetivos, atendemos encargos desde escolta, rescate o ataque a un objetivo especifico">
</head>
<body>
    <header class="cabeza">
        <!--logo-enlace a index-->
        <a href="../index.html" class="logo"><img src="../img/logo.png" alt="logo" class="logo__img"></a>
        <!--Nombre de Empresa-->
        <h1 class="cabeza__h1" id="index">Pixies</h1>
        <!--Menu navegacion-->
        <nav class="menu">
            <ul class="menu__list">
                <li><a href="../index.html">
                    <span class="text">Inicio</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                    </a>
                </li>
                <li><a href="productos.html">
                    <span class="text">Productos</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                    </a>
                </li>
                <li><a href="servicios.html">
                    <span class="text">Servicios</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                    </a>
                </li>
                <li><a href="especialistas.html">
                    <span class="text">Especialistas</span>
                    <span class="line -right"></span>
                    <span class="line -top"></span>
                    <span class="line -left"></span>
                    <span class="line -bottom"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
<body>
    <main>        
        <article class="presupuesto__intro">
            <h2>Hace el pedido, especifica las caracteristicas y en la brevedad nos comunicaremos con un presupuesto aproximado para empezar las negociaciones</h2>
        </article>
        <!--FORMULARIO DE PRESUPUESTO-->
        <section class="presupuesto">
            <form class="presupuesto__formulario" action="" method="GET" enctype="">
                <fieldset>
                    <legend>Formulario de Presupuesto</legend>
                        <label for="nombre">Coloque su alias como contratante</label><br>
                        <input type="text" name=nombre><br>
                        <label for="contacto">Coloque via de contacto(telefono, mail, direccion,etc) </label>
                        <input type="text" name="contacto">
                        <label for="pedido">Defina el objetivo</label><br>
                        <textarea name="pedido" id="" cols="30" rows="15"></textarea><br>
                        <label for="info">Describa lo mejor posible el objetivo</label><br>
                        <textarea name="info" id="" cols="30" rows="15"></textarea><br>
                        <label for="lugar">Ubicacion (en caso de no saberlo, adicionaremos tarifa de rastreo)</label><br>
                        <input type="text" name="pedido"><br>
                    <legend>Existe objetivo secundario?</legend>
                            <div>SI</div>
                            <input type="radio" name=survivor value="si"/>
                            <div>NO</div>
                            <input type="radio" name=survivor value="no"/>
                        <label for="objetivo-sec">Especifique</label>
                        <textarea name="objetivo-sec" id="" cols="30" rows="15"></textarea>                        
                </fieldset>                    
                <fieldset class="terminos">
                    <div><a class="terminos__texto" href="terminos.html">Acepta los Terminos y condiciones</a></div>
                    <input type="checkbox" name="acepta"value="1"/>
                </fieldset><br>
                    <input class="presupuesto__boton" type="submit" value="Solicitar">
            </form>
        </section>
    </main>
    <!--footer-->
    <footer class="pie">
        <!--logo enlace index-->
        <a href="../index.html" class="logoFooter"><img src="../img/logo.png" alt="logo-index" class="logoFooter__img"></a>
        <!--datos de la empresa-->
        <address>
            Oficinas: Al norte de la ciudad <br>
            Telefono:249-4366xxx <br>
            E-mail: Pixies.coop@apocalipmail.zom 
        </address>
        <div class="menuFooter">
            <a href="../index.html">Inicio</a>
            <a href="productos.html">Productos</a>
            <a href="servicios.html">Servicios</a>
            <a href="especialistas.html">Especialista</a>
        </div>
        <p class=" pie__texto">© Copyright derechos reservados por Cooperativa Pixies Mercenary<a href="#index" class="pie__enlace">Subir</a></p>
    </footer>
</body>
</html>