<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widht=divice-width,initial-scale=1.0">     
    <!--fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="../css/estil.css">
    <!--SEO-->
    <meta name="keywords" content="zombies, supervivencia, comunidad, comercio, ">
<title>Inicio de sesion y registro</title>
<meta name="description" content="Se parte de la comunidad de G.A.Z para aprovechar todos los beneficios y mantener a tu acance toda la informacion necesaria para sobrevivir ">
</head>
<body>
    <header class="cabeza">
        <!--logo-enlace a index-->
        <a href="index.html" class="logo"><img src="./img/Logo.png" alt="logo" class="logo__img"></a>
        <!--Nombre de Empresa-->
        <h1 class="cabeza__h1" id="index">Pixies</h1>
        <!--Menu navegacion-->
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./views/productos.html">Productos</a></li>
                <li><a href="./views/servicios.html">Servicios</a></li>
                <li><a href="./views/especialistas.html">Especialistas</a></li>
            </ul>
        </nav>
    </header>
<body>
    <main>
        <section>
            <h2>Ingresa a nuestra comunidad y aprovecha todos los beneficios, ofertas y novedades que Cooperativa Pixies Mercenary tiene para ofrecer</h2>
        </section>
        <!--inicio de sesion-->
        <section>
            <form action="" method="GET" enctype="">
                <fieldset class="signUp">
                    <input type="text" name=usuario placeholder="Nombre de usuario"><br>
                    <input type="password" name="contraseña" placeholder="Introduzca la contraseña"><br>
                    <input type="submit" value="Iniciar sesion" class="signUps"><br>
                    <a href="questions.html">Olvidaste tu Contraseña?</a><br>
                    <a href="#reg">Crear Cuenta</a>
                </fieldset>
        </section>
            <!--formulario de registro-->
            <section>
                <h2>Crea tu cuenta libre de mordidas</h2>
            </section>
            <section>
                <form action="" method="GET" enctype="">
                    <fieldset>
                    <legend>Datos de cuenta</legend>
                        <label for="nombre">Nombre de Usuario</label>
                        <input type="text" name=nombre><br>
                        <label for="edad">Edad</label>
                        <input type="text" name=edad>
                        <label for="email">Correo electronico</label>
                        <input type="email" name=email><br>
                        <label for="password">Contraseña</label>
                        <input type="password" name=password><br>
                        <label for="password1"> Confirma contraseña</label>
                        <input type="password" name=password1><br>
                    </fieldset>
                <fieldset>
                    <legend>Datos extra</legend>
                    <div>solitario</div>
                        <input type="radio" name=survivor value="S"/>
                    <div>grupo</div>
                        <input type="radio" name=survivor value="G"/>
                    <div>comunidad</div>
                        <input type="radio" name=survivor value="C"/>
                <fieldset>
                    <div><a href="terminos.html">Acepta los Terminos y condiciones</a></div>
                    <input type="checkbox" name="acepta"value="1"/></fieldset><br>
                    <input class="botonRegistro" type="submit" value="Registrarse">
            </fieldset>
            </form>
        </section>
    </main>
    <!--footer-->
    <footer class="pie">
        <!--logo enlace index-->
        <a href="index.html" class="logoFooter"><img src="./img/logo.png" alt="logo-index" class="logoFooter__img"></a>
        <!--datos de la empresa-->
        <address>
            Oficinas: Al norte de la ciudad <br>
            Telefono:249-4366xxx <br>
            E-mail: Pixies.coop@apocalipmail.zom 
        </address>
        <div class="menuFooter">
            <a href="./views/productos.html">Productos</a>
            <a href="./views/servicios.html">Servicios</a>
            <a href="./views/especialistas.html">Especialista</a>
            <a href="./views/usuario.html">Usuario</a>
        </div>
        <p class=" pie__texto">© Copyright derechos reservados por Cooperativa Pixies Mercenary<a href="#index" class="pie__enlace">Subir</a></p>
    </footer>
</body>
</html>