<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widht=divice-width,initial-scale=1.0">     
    <!--fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="../css/estil.css">
    <meta name="keywords" content="zombies, supervivencia, comunidad, comercio, ">
<title>Inicio de sesion y registro</title>
<meta name="description" content="Se parte de la comunidad de G.A.Z para aprovechar todos los beneficios y mantener a tu acance toda la informacion necesaria para sobrevivir ">
</head>
<body>
<header class="cabeza row container-fluid">           
    <h1 class="cabeza__titulo col-12 col-lg-12">Usuarios</h1>
        <ul class="menu col-12 col-lg-12">
            <li class="menu__items"><a href="../index.html" class="menu__enlace">Inicio</a></li>
            <li class="menu__items"><a href="ups.html" class="menu__enlace">Servicios</a></li>
            <li class="menu__items"><a href="ups.html" class="menu__enlace">Contactos</a></li>
            <li class="menu__items menu__items--end"><a href="usuario.html" class="menu__enlace">Usuarios</a></li>
        </ul>
</header>
<body>
    <main class="container-fluid row fondoUsuario">
        <section class="sesion col-12 col-lg-5">
            <h2 class="sesion__titulo">Ingresa a nuestra comunidad y aprovecha todos los beneficios que tenemos y vamos adquiriendo, informacion,mapas,recursos,productos y mucho mas (o no tanto)</h2>
            <!--inicio de sesion-->
            <form action="" method="GET" enctype="">
                <fieldset class="signUp">
                    <input type="text" name=usuario placeholder="Nombre de usuario"><br>
                    <input type="password" name="contraseña" placeholder="Introduzca la contraseña"><br>
                    <input type="submit" value="Iniciar sesion" class="signUps"><br>
                    <a href="questions.html">Olvidaste tu Contraseña?</a><br>
                    <a href="#reg">Crear Cuenta</a>
                </fieldset><hr><br><hr>
            </section>
            <!--formulario de registro-->
            <section>
                <h2>Crea tu cuenta libre de mordidas</h2>
                <form action="" method="GET" enctype="">
                    <fieldset>
                    <legend id="reg">Datos de cuenta</legend>
                        <label for="nombre">Nombre de Usuario</label>
                        <input type="text" name=nombre><br>
                        <label for="email">Correo electronico</label>
                        <input type="email" name=email><br>
                        <label for="password">Contraseña</label>
                        <input type="password" name=password><br>
                        <label for="password1"> Confirma contraseña</label>
                        <input type="password" name=password1><br>
                        <label for="edad">Edad</label>
                        <input type="text" name=edad>
                    </fieldset>
                    <fieldset>
                        <legend>Walking Dead Preguntas</legend>
                        <label for="question1">Cuantos Zombies mataste?</label>
                        <input type="text" name=question1><br>
                        <label for="question2">Cuantas personas mataste?</label>
                        <input type="text"name=question2><br>
                        <fieldset><legend>Por que?</legend>
                            <textarea name="question2" id="" cols="30" rows="15" placeholder="escribe tu respuesta"></textarea>
                        </fieldset>
                    </fieldset>
                <fieldset>
                    <legend>Datos extra</legend>
                    <div>solitario</div>
                        <input type="radio" name=survivor value="S"/>
                    <div>grupo</div>
                        <input type="radio" name=survivor value="G"/>
                    <div>comunidad</div>
                        <input type="radio" name=survivor value="C"/>
                <fieldset>
                    <div><a href="terminos.html">Acepta los Terminos y condiciones</a></div>
                    <input type="checkbox" name="acepta"value="1"/></fieldset><br>
                    <input class="botonRegistro" type="submit" value="Registrarse">
            </fieldset>
            </form>
        </section>
    </main>
    <!--footer-->
    <footer>
        
    </footer>
</body>
</html>